
<h2 >Doctor Information</h2>
<table class="table table-striped">
<thead>
    <tr>
        <th>
            Doctor ID
        </th>
        <th>
            Doctor Name
        </th>
        <th>
            Doctor Age
        </th>
        <th>
            Doctor Gender
        </th>
        <th>
            Doctor Specialization
        </th>
        <th>
            Patient Attended
        </th>
        
        
    </tr>
</thead>
<tbody>
    <tr>
        <td>{{doctor.dId}}</td>
        <td >
              {{doctor.name}}

        </td>
        <td>{{doctor.age}}</td>
        <td>{{doctor.gender}}</td>
        <td>{{doctor.specialist}}</td>
        <td>{{doctor.numberOfPatientAttended}}</td>
        
    </tr>
</tbody>
</table>
